*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#name{
    text-transform: capitalize;
}
.form h1{
  text-align: center;
  margin-bottom: 40px;
  font-size: 50px;
}
label{
    font-size: 20px;
   
}
form{
    text-align: center;
   
}
.form{
    margin-top: 60px;
    background-color: #97aea3;
    width: 50%;
    margin-left: 400px;
    padding: 100px;
    border-radius: 20px;
    
}
form input{
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
   margin-top: 15px;
}
.form button{
    margin-left: 140px;
    padding: 20px;
    width: 50%;
    margin-top: 30px;
    font-size: 20px;
    background-color: #132e1d;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

